<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="components/header/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="HomeNavCont">
          <div class="logo">
            <a href="#"><h1>School <br> Logo/name</h1></a>
          </div>
          <div class="navListOne">
            <ul>
              <li><a href="#">Students</a></li>
              <li><a href="#">Parents and Guardian</a></li>
              <li><a href="#">Stuff</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Contact</a></li>
              <li><i class="fa-solid fa-magnifying-glass"></i></li>
            </ul>
          </div>
          <div class="navListTwo">
            <ul>
              <li>
                <div class="dropdown">
                  <button class="dropbtn">
                    Study
                    <i class="fa-solid fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <ul>
                      <li><a href="#link1">Link 1</a></li>
                      <li><a href="#link2">Link 2</a></li>
                      <li><a href="#link3">Link 3</a></li>
                      <li><a href="#link1">Link 4</a></li>
                      <li><a href="#link2">Link 5</a></li>
                      <li><a href="#link3">Link 6</a></li>
                      <li><a href="#link3">Link 6</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <button class="dropbtn">
                    Streams
                    <i class="fa-solid fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <ul>
                      <li><a href="#link1">Link 1</a></li>
                      <li><a href="#link2">Link 2</a></li>
                      <li><a href="#link3">Link 3</a></li>
                      <li><a href="#link1">Link 4</a></li>
                      <li><a href="#link2">Link 5</a></li>
                      <li><a href="#link3">Link 6</a></li>
                      <li><a href="#link3">Link 6</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li><a>Events</a></li>
              <li>
                <div class="dropdown">
                  <button class="dropbtn">
                    Calender
                    <i class="fa-solid fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <ul>
                      <li><a href="#link1">Link 1</a></li>
                      <li><a href="#link2">Link 2</a></li>
                      <li><a href="#link3">Link 3</a></li>
                      <li><a href="#link1">Link 4</a></li>
                      <li><a href="#link2">Link 5</a></li>
                      <li><a href="#link3">Link 6</a></li>
                      <li><a href="#link3">Link 6</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li><a>Noticeboard</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <script
      src="https://kit.fontawesome.com/384885d02f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
