<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="components/footer/footer.css" />
</head>
<body>
    <footer class=" text-white pt-4">
        <div class="container">
            <div class="row">
                <!-- Contact Us -->
                <div class="col-md-3 no-underline">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled ">
                        <li><a href="#">General enquiries</a></li>
                        <li><i class="fa fa-phone"></i> <a href="#">Tel: +27 12 670 2732</a></li>
                        <li><i class="fa fa-whatsapp"></i> <a href="#">+27 11 245 0645</a></li>
                        <li><i class="fa fa-envelope"></i> <a href="#">Email: john@gmail.com</a></li>
                    </ul>
                </div>
                <!-- Quick Links -->
                <div class="col-md-3 no-underline">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Academic Calendar</a></li>
                        <li><a href="#">Timetables</a></li>
                        <li><a href="#">Check your status</a></li>
                        <li><a href="#">Online Registration</a></li>
                        <li><a href="#">Student Password reset</a></li>
                    </ul>
                </div>
                <!-- Socials -->
                <div class="col-md-3 socials">
                    <h4>Connect with us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <!-- Address -->
                <div class="col-md-3 no-underline">
                    <h4>Postal Address</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Stek High School</a></li>
                        <li><a href="#">Private Bag X15</a></li>
                        <li><a href="#">Vanderbiljpark</a></li>
                        <li><a href="#">1900</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" text-light text-center   py-2 mt-3">
            <hr>
            <p>&copy; 2024 Stek High School. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
